---
layout: default-kr
title: 내 집 마련 체크리스트
permalink: /kr/home-buyer-checklist/
pagination:
  enabled: true
  collection: checklistskr
  permalink: /:num/
  sort_field: date
  sort_reverse: false
---
<!-- Slider Start -->
<section id="checklist-header" class="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>내 집 마련 체크리스트</h1>
                    <p>집 사자. 나도 사자.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include breadcrumb-kr.html %}
{% include paginator-kr.html %}
