<!-- contact form start -->
<section id="contact-form" class="contact">
    <form action="https://formspree.io/xdogajav" method="POST">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <h2>상담/문의</h2>
                        <p>{{ page.contact-tag }}</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <input type="text" class="form-control" name="name" placeholder="이름" />
                        <input type="email" name="_replyto" class="form-control" placeholder="이메일" />
                        <input type="text" class="form-control" name="_subject" placeholder="제목" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <textarea class="form-control" name="message" rows="3" placeholder="내용"></textarea>
                        <button class="btn btn-default" type="submit">상담/문의 하기</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- Begin Mailchimp Signup Form -->
<section id="subscribe" class="contact">
    <form action="https://gmail.us20.list-manage.com/subscribe/post?u=e349a885e4f20fa6936b7a1cf&amp;id=799c8ba775" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>구독</h2>
                    <p>
                        아래에 이메일을 남겨주시면 최신 글 업데이트를 보내드립니다.
                    </p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <input type="text" name="FNAME" class="form-control" placeholder="이름" />
                        <input type="text" name="LNAME" class="form-control" placeholder="성" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <input type="email" name="EMAIL" class="form-control" placeholder="이메일" />
                        <button class="btn btn-default" type="submit">구독 하기</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="mce-responses" class="clear">
           <div class="response" id="mce-error-response" style="display:none"></div>
           <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
         <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e349a885e4f20fa6936b7a1cf_799c8ba775" tabindex="-1" value=""></div>
    </form>
</section>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
    (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->
