<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/en/about">About</a></li>
            <li><a href="{{ site.baseurl }}/en/resources">Resources</a></li>
            <li><a href="{{ site.baseurl }}/kr{{ page.url | remove: "en/" }}">한글</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Home Is Here. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
