#paginator {
    margin-top: 30px;
    .item {
        width: 30%;
        display: inline-block;
        padding: 10px 0;
    }
    font-size: 13px;
    .title {
        font-size: 16px;
    }

    ul.pager {
        list-style: none;
        text-align: center;
        li {
            display: inline;
        }
    }
}
