//media
$extrasmall   : "only screen and (max-width: 429px)";
$small        : "only screen and (min-width: 430px) and (max-width: 767px)";
$medium       : "only screen and (min-width: 768px) and (max-width: 991px)";
$large        : "only screen and (min-width: 992px)";
$notsmall     : "only screen and (min-width: 768px)"
