---
layout: page-kr
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>FTHBI</h1>
          <p>캐나다 첫 주택 구매 지원 정책(the First Time Home Buyer Incentive)에 관해 당신이 알아야할 모든것</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
